body{
    background-color: #00880D;
    color: #fff;
    font-family: 'MaisonNeue-Demi';
    margin: 0;
    padding: 0;
}

h1{
    font-size: 5em;
}

.main{
    min-height: 900px;
    background: url('../images/ic_gojek_logo.png') no-repeat;
}

.blog_list li{
    list-style-type: none;
}

.blog_list li a{
    color: #fff;
}

